/*---------------------------- 
ESTILOS FOOTER
------------------------------*/
.footer {
    background-image: linear-gradient(to right, aqua, grey);
    align-items: center;
    height: 7vh;
   
 }
 .footer__div{
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }