/*---------------------------- ESTILOS HEADER------------------------------*/

.header img {
    width: 50%;
}

.header__iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
