ul, li, a {
    text-decoration: none;
    list-style: none;
    font-style: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
}

.contenido {
    width: 80%;
    height: 100%;
    margin: 39px auto 0;
    background: #fff;
    box-shadow: 0px 1px 11px 5px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 1px 11px 5px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 1px 11px 5px rgba(0, 0, 0, 0.83);
}

.bordes {
    border: solid 1px #cacaca;
}

.fondo1 {
    background-color: blue;
}

.fondo2 {
    background-color: brown;
}

.fondo3 {
    background-color: burlywood;
}

.header img {
    width: 50%;
}

.header__iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*---------------------Estilos NAV --------------------*/

.topNav {
    grid-area: areaNav;
    background-image: linear-gradient(to right, aqua, grey);
    padding: 20px 0 40px 0;
    color: black;
    font-family: "open Sans";
    width: 100%;
}

.topNav__li {
    float: left;
    font-size: 18px;
    font-family: "open Sans";
    text-transform: uppercase;
    color: black;
}

.topNav__a {
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-family: "open Sans";
}

.topNav__ul {
    display: none;
    z-index: 9999;
    position: absolute;
    flex-direction: column;
}

.topNav__a:hover {
    background-color: #434343;
}

.topNav__li:hover>ul {
    display: block;
    background-image: linear-gradient(to right, aqua, grey);
}

/*---------------------Estilos main--------------------*/

.eslogan {
    position: sticky;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.eslogan__h2 {
    animation-name: efecto;
    animation-timing-function: ease-in;
    animation-duration: 6s;
    animation-iteration-count: 3;
    animation-delay: 1s;
    font-weight: 700;
}

.eslogan__textoCentrado {
    position: absolute;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: "open Sans";
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@keyframes efecto {
    0% {
        border-radius: 50%;
    }
    25% {
        box-shadow: 0px 0px 15px 15px #ec731e;
        transform: scale(1.3);
    }
    50% {
        transform: skew(10deg, 10deg);
    }
    75% {
        transform: skew(-10deg, -10deg);
    }
    100% {
        border-radius: 50%;
        transform: scale(1);
    }
}

.main__certificado {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #00ffea;
    height: 10vh;
    align-items: center;
}

.main__h3 {
    font-size: 30px;
    font-family: "open Sans";
    text-transform: uppercase;
    padding-left: 3%;
}

.main__img {
    height: 42px;
    padding-left: 7%;
}

.main__certificaciones {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2%;
}

.main__imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.main__ilum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    background-image: url("../assets/iluminacion.jpeg");
    background-size: cover;
    border-radius: 15px;
   
}

.main__ilum::before {
    content: " ";
    width: 350px;
    height: 300px;
    background-color: aqua;
    position: absolute;
    opacity: 0.6;
    border-radius: 15px;
}

.main__a {
    z-index: 1;
    font-size: 20px;
    color: black;
    font-family: "open Sans";
    text-decoration: none;
    font-weight: bold;
}

.main__agrandar:hover {
    transform: scale(1.2);
}

.main__mant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    background-image: url("../assets/mantenimiento.jpg");
    background-size: cover;
    border-radius: 15px;
    
}

.main__mant::before {
    content: " ";
    width: 350px;
    height: 300px;
    background-color: aqua;
    position: absolute;
    opacity: 0.6;
    border-radius: 15px;
}

.main__proy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    background-image: url("../assets/proyectos.jpg");
    background-size: cover;
    border-radius: 15px;
    
}

.main__proy::before {
    content: " ";
    width: 350px;
    height: 300px;
    background-color: aqua;
    position: absolute;
    opacity: 0.6;
    border-radius: 15px;
}

.main__areaproyecto {
    padding: 40px 0 40px 20px;
    display: flex;
    justify-content: space-around;
}

.main__proyecto {
    width: 210PX;
    font-family: "open Sans";
    text-transform: uppercase;
    text-align: center;
}

/*---------------------Estilos footer--------------------*/
.footer {
   background-image: linear-gradient(to right, aqua, grey);
   align-items: center;
   height: 7vh;
  
}
.footer__div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*------------------------------
             RESPOSNIVE
---------------------------------*/

/* Extra small devices (phones, 575px and down) */

@media (max-width: 575.98px) {
    .contenido {
        width: 100%;
    }
    .header__iconos {
        justify-content: flex-start;
        background-color: yellow
    }
    .header__iconos img {
        width: 50%;
        justify-content: center;
    }
    .topNav__li {
        float: left;
        font-size: 10px;
        font-family: "open Sans";
        text-transform: uppercase;
    }
    .eslogan__h2 {
        animation-name: efecto;
        animation-timing-function: ease-in;
        animation-duration: 6s;
        animation-iteration-count: 3;
        animation-delay: 1s;
        font-weight: 300;
        font-size: 80%;
    }
    .header img {
        width: 50%;
    }
    .main__h3 {
        font-size: 0.6em;
        font-family: "open Sans";
        text-transform: uppercase;
        padding-left: 3%;
    }
    .main__imagenes {
        display: flex;
        height: 15vh;
    }
    
    .main__ilum {
        width: 30%;
        height: 10vh;
    }
    
    .main__ilum::before {
        content: " ";
        width: 30%;
        height: 10vh;
    }
    
    .main__a {
        font-size: 0.6em;
    }
    
    .main__agrandar:hover {
        transform: scale(1.3);
    }
    
    .main__mant {
        width: 30%;
        height: 10vh;
      
    }
    
    .main__mant::before {
        content: " ";
        width: 30%;
        height: 10vh;
    
    }
    
    .main__proy {
        width: 30%;
        height: 10vh;
      
    }
    
    .main__proy::before {
        content: " ";
        width: 30%;
        height: 10vh;
    }
    .footer__div img {
        width: 50%;
    }
}

/*small devices (phones, between 577px and 768px) */

@media (min-width:576px) and (max-width:768px) {
    .header__iconos {
        justify-content:flex-start;
    }
    .header__iconos img {
        width: 80%;
    }
    .header  img{
        width: 50%;
    }
    .topNav__li {
        float: left;
        font-size: 10px;
        font-family: "open Sans";
        text-transform: uppercase;
    }
    .eslogan__h2 {
        animation-name: efecto;
        animation-timing-function: ease-in;
        animation-duration: 6s;
        animation-iteration-count: 3;
        animation-delay: 1s;
        font-weight: 300;
        font-size: 80%;
    }
    
    .main__h3 {
        font-size: 0.7em;
        font-family: "open Sans";
        text-transform: uppercase;
        padding-left: 3%;
    }
    .main__imagenes {
        display: flex;
        height: 15vh;
    }
    
    .main__ilum {
        width: 30%;
        height: 10vh;
    }
    
    .main__ilum::before {
        content: " ";
        width: 23%;
        height: 10vh;
    }
    
    .main__a {
        font-size: 0.7em;
    }
    
    .main__agrandar:hover {
        transform: scale(1.3);
    }
    
    .main__mant {
        width: 30%;
        height: 10vh;
      
    }
    
    .main__mant::before {
        content: " ";
        width: 23%;
        height: 10vh;
    
    }
    
    .main__proy {
        width: 30%;
        height: 10vh;
      
    }
    
    .main__proy::before {
        content: " ";
        width: 23%;
        height: 10vh;
    }
    .footer__div img {
        width: 80%;
    }
}

/*Medium devices (tablets, 769px and 992) */

@media (min-width: 769px) and (max-width:992px) {
    .header img {
       text-align: start;
    }
    .topNav__li {
        float: left;
        font-size: 12px;
        font-family: "open Sans";
        text-transform: uppercase;
    }
    .main__h3 {
        font-size: 0.9em;
        font-family: "open Sans";
        text-transform: uppercase;
        padding-left: 3%;
    }
    .main__imagenes {
        display: flex;
        height: 20vh;
    }
    
    .main__ilum {
        width: 200px;
        height: 150px;
    }
    
    .main__ilum::before {
        content: " ";
        width: 200px;
        height: 150px;
    }
    
    .main__a {
        font-size: 0.8em;
    }
    
    .main__agrandar:hover {
        transform: scale(1.3);
    }
    
    .main__mant {
        width: 200px;
        height: 150px;
    }
    
    .main__mant::before {
        content: " ";
        width: 200px;
        height: 150px;
    
    }
    
    .main__proy {
        width: 200px;
        height: 150px;
      
    }
    
    .main__proy::before {
        content: " ";
        width: 200px;
        height: 150px;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 993px) and (max-width:1200px){ 
    .main__h3 {
        font-size: 0.9em;
        font-family: "open Sans";
        text-transform: uppercase;
        padding-left: 3%;
    }
    .main__imagenes {
        display: flex;
        height: 25vh;
    }
    
    .main__ilum {
        width: 250px;
        height: 200px;
    }
    
    .main__ilum::before {
        content: " ";
        width: 250px;
        height: 200px;
    }
    .main__a {
        font-size: 1em;
    }
    
    .main__agrandar:hover {
        transform: scale(1.3);
    }
    
    .main__mant {
        width: 250px;
        height: 200px;
    }
    
    .main__mant::before {
        content: " ";
        width: 250px;
        height: 200px;
    }
    
    .main__proy {
        width: 250px;
        height: 200px;
    }
    
    .main__proy::before {
        content: " ";
        width: 250px;
        height: 200px;
    }
}